<%= turbo_frame_tag "game" do %>
  <!-- List all the words -->
  <ul>
    <% @game.game_clues.each do |game_clue| %>
      <%= debug game_clue.clue_word.word.word %>
<!--      <li><%#= word %></li>-->
    <% end %>
  </ul>
<% end %>